:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --sencondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #faf8f7;
    --just-white: #fff;
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 151;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--tittle-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--tittle-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--tittle-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-size: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--tittle-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/arrowDown.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);

}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--tittle{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 81px;
}
.main-exchange-container .fondoImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-table-container .main-table-container--coin{
    font-size: 1.8rem;
    font-weight: 700;
    color: #FF9536;
}

.main-table-container .main-table-container--coin1{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--sencondary-blue);
}

.main-exchange-container .main-table-container--tabla{
    display: grid;
    grid-template-columns: 90px 60px 47px;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    justify-content: space-evenly;
    width: 70%;
    min-width: 197px;
    max-width: 300px;
    height: 179px;
    margin: 0 auto;
    padding: 10px 12px;
    background-color: var(--just-white);
    border-radius: 7px;
}

.main-exchange-container .main-table-container--comisiones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    justify-content: space-evenly;
    width: 70%;
    min-width: 197px;
    max-width: 300px;
    height: 179px;
    margin: 0 auto;
    padding: 10px 12px;
    background-color: var(--just-white);
    border-radius: 7px;
}

.main-table-container{
    display: flex;
    width: 95%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

}

.container-all-table{
    position: relative;
    scroll-snap-align: center;
    margin: 0 21px 0;
}



.main-table-container--tabla .coin-tabla{
    margin: 0;
}

.main-table-container--comisiones .coin-tabla{
    margin: 0;
}

.main-table-container .right-text{
    color: #B5B0AC;
}


.main-table-container .colum1{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 12px;
}
.main-table-container .colum2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-table-container .coin-icon2{
    width: 15px;
    height: 15px;
    background-image: url('../assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-table-container .coin-icon1{
    width: 15px;
    height: 15px;
    background-image: url('../assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.button-updated{
    width: 173px;
    height: 31px;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 27px;
    margin-top: 20px;
    background-color: var(--soft-orange);
    border-radius: 7px;
}

.button-updated p{
    display: inline-block;
    font-family: Inter;
    font-size: 1.2rem;
    color: var(--black);

}

.button-updated-comisiones{
    width: 173px;
    height: 31px;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 27px;
    margin-top: 20px;
    background-color: var(--soft-blue);
    border-radius: 7px;
}

.button-updated-comisiones p{
    display: inline-block;
    font-family: Inter;
    font-size: 1.2rem;
    color: var(--black);

}

.button-updated span{
    font-family: Inter;
    font-size: 1.2rem;
    color: var(--black);
    margin-left: 2px;
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    text-align: center;
    background-color: var(--warm-black);
}

.main-product-detail--potato{
    position: absolute;
    width: 40.57px;
    height: 24.01px;
    left: calc(50% - 20px);
    top: -10px;
    background-image: url('../assets/img/batata.svg');
    
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-cards--container{
    text-align: start;
}

.produc-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.produc-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    
    margin-bottom: 10px;
    background-image: url('../assets/icons/clock.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.produc-detail--card .clock{
    display: block;
    width: 20px;
    height: 20px;
    
    margin-bottom: 10px;
    background-image: url('../assets/icons/clock.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.produc-detail--card .eye{
    display: block;
    width: 20px;
    height: 20px;
    
    margin-bottom: 10px;
    background-image: url('../assets/icons/eye.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.produc-detail--card .dollar{
    display: inline-block;
    width: 20px;
    height: 20px;
   
    margin-bottom: 10px;
    background-image: url('../assets/icons/dollar-sign.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.produc-detail--card .check{
    display: block;
    width: 20px;
    height: 20px;
  
    margin-bottom: 10px;
    background-image: url('../assets/icons/check-circle.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 75vh;
    background-image: url('../assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}


.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans-title h2{
    margin-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);  
}

.plans-title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider{
    display: flex;
    /* gap: 50px; */
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
 }

.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 25px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: black;
}

.plan-card--price span{
    position: absolute;
    left: 72px;
    top: 40px;
    font-size: 1.2rem;
    font-weight: 500;
}

.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    background-color:#E5E5E5;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    color: var(--black);
}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/arrow-right.svg');
    vertical-align: text-bottom;
}

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .right img{
    width: 75px;
    height: 75px;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li{
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}

@media (min-width: 508px){
    .main-table-container{
        justify-content: center;
    }
}